<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>SKU 코로나 Map</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />

</head>
<body>
    <!-- ---------------------------<header>--------------------------------------- -->
    <div th:replace="layout/header::header"></div>

    <!-- --------------------------- <body> --------------------------------------- -->
    <div align = "center" >
        <img th:src="@{/img/map.png}" alt="맵이미지" height="500">
    </div>

    <!-- -------------------------- <footer> -------------------------------------- -->
    <div th:replace="layout/footer::footer"></div>
</body>
</html>